    <h1 id="system-administration">System Administration Guide</h1>
    
    <br/>
    <h2 id="transfer-admin">Helpul Links</h2>
        <ul>
            <li>                 
                <a href="/officers/login">
                        Go to Officers Login Page
                </a> 
            </li>
            <li> 
                <a href="/members/login" >
                        Go to Members Login Page
                </a> 
            </li>
            <li> 
                 <a href="https://urldefense.com/v3/__https://asabe-participation-tracker.herokuapp.com/__;!!KwNVnqRv!Rnjit63tioAl7SCLywdNaf_X4JtMnSNhWHWNAnVNTqKb_GsDYf4hy7W4QFW4IYdQekgHJLUBlQ$" >
                        Go to Particpation Tracker Page
                </a>
            </li>
        </ul>
    
    <br/>
    <h2 id="transfer-admin">How to Transfer Officer Priveleges</h2>

    <br/>
    <h2 id="backup">How to Backup Data</h2>
    <blockquote class="blockquote">
        <p>
        To secure club member and officer information, we reccomend backing up the data at least once a week. Lucky for you, 
        the development team provided a quick and easy way to back up the organization's data. At the top of your screen on the 
        navigation bar you will see a button labeled "Backup", just click on the button and three options will drop down to backup
        officer, member, or custom point entry data. After you click on each link, a csv file will be downloaded to your device.
        Each file is labeled with the data it contains and also today's date so you can easily keep a record of when the backup is from.
        </p>
 
        <ul>
            <li> <p> officers-YYYY-MM-DD </p> </li>
            <li> <p> members-YYYY-MM-DD </p> </li>
            <li> <p> custom-point-entries-YYYY-MM-DD </p> </li>
        </ul>
    </blockquote>


