<%= link_to("<< Back to List", members_path, :class => 'back-link') %>

<div class="mambers delete">
  <h2>Delete a Member</h2>

  <%= form_for(@member, :method => 'delete') do |f| %>

    <p>Are you sure you want to permanently delete this member?</p>

    <p class="reference-name"><%= f.object.name %></p>

    <div class="form-buttons">
      <%= f.submit("Delete Member") %>
    </div>

  <% end %>
</div>
