<a href = "/members"  class="btn btn-danger" role="button">Back to homepage</a>
<div class="row justify-content-center">
  <div class="col-auto">
<div class="members delete">
  <h2>Delete a Member</h2>

  <%= form_for(@member, :method => 'delete') do |f| %>

    <p>Are you sure you want to permanently delete this member?</p>

    <p class="reference-name"><%= f.object.name %></p>

    <div class="form-buttons">
      <%= f.submit("Delete Member") %>
    </div>

  <% end %>
</div>
  </div>
</div>