<div class="container-fluid">
<div class="row justify-content-md-center">
    <div class="col-lg-4 my-5">
      <!-- Material form login -->
      <%if !flash[:notice].blank?%>
        <div class="alert alert-danger">
          <%=flash[:notice]%>
        </div>
      <%end%>
      <div class="card mt-5">

          <h2 class="card-header text-center py-4" style="background: lightblue">
              <%= image_tag (asset_path('asabe-logo.jpg')) %>
              <p>Member Login Page</p>
          </h2>


        
          <!--Card content-->
          <div class="card-body px-lg-5 pt-0">
            <%= form_tag(members_attemptLogin_path :method => 'post') do %>
              

              <div class="text-center mb-4">
                <h4 class="mb-2">UIN</h4>
                <%= text_field_tag(:uin) %>
              </div>

              <div class="text-center mb-1 pb-1">
                <!-- Sign in button -->
                <button type="submit" class="btn btn-primary btn-lg mb-3">Log In</button>
              </div>

            <div class="text-center mb-1 pb-1">
                <!-- Sign in button -->
                <a href="/officers/login" class="btn btn-primary btn-sm" role="button">
                    Go to Officers Login
                </a>

              </div>

            <% end %>
              <!-- Disclaimer -->
            <div class="text-left small">
                <p>
                    **** By entering this system and entering any data requested, I am giving my consent to share data related to

my involvement with the student organization. Should I no longer wish to share the data I've provided,

I will notify the student organization. ****
                </p>
            </div>
          </div>
      </div>
    </div>
</div>
</div>

